
{% extends 'navigationbar.html' %}
{% load static %}
{% block body %}
<div class="container" style="margin-top:50px">
<h2 class="text-center">About Us</h2>

    <div  class="row">
    <div class="col-sm-4 text-center">
     <img src="{% static 'images/about.jpg' %}" width="300" height="200" class="img-responsive">
    </div>
    <div class="col-sm-8 font-width-bold mt-5">
Healthcare is something that can’t be compromised, can it? Hospitals have a huge role to play in developing the healthcare system of any country because, with a growing population, the healthcare demands too are growing and evolving. Providing the highest standard of care for both, minor and major health issues, hospitals create a safe space for the patients by offering end-to-end clinical, surgical, and diagnostic services.

Hospitals have been making healthcare accessible to one and all and PharmCare Hospital in Sunderpur, Varanasi is one such reliable hospital that is committed to providing expert medical care. Having established a firm presence as a trusted name in Maternity Hospitals, it is renowned for offering specialised services and treatments like ICU Care, Opd Services, Ambulance Service, etc.
<br>
<b>Location and overview</b>
PharmCare Hospital in Sunderpur, Varanasi is one of the most renowned Maternity Hospitals in the area. Countless locals in Sunderpur have placed immense trust in the practitioner over the years. Max Hospital is situated at Near Bengal Sweet House & Kashi Vishwanath Mandir, DLW Road, Sunderpur-221005 near Bengal Sweet House & Kashi Vishwanath Mandir, which is easily accessible through various modes of transport.
<br>
<b>More information</b>
PharmCare Hospital in Varanasi has a supportive and friendly staff, and the latest medical know-how to help patients. The clinic abides by all the necessary safety protocols, including Covid-19 precautionary measures. The doctor and team offer world-class care and guidance, always putting their patients first. Services like ICU Care, Opd Services, Ambulance Service etc. are also offered here, so all your treatment needs are taken care of in one place.
<br>
If you’re planning to visit Max Hospital in the near future, it’s advisable to book an appointment in advance to avoid waiting time. The hours of operation are 00:00 - 23:59.
<br>
The clinic accepts payments through multiple modes of payment like Cash, Master Card, Visa Card, Debit Cards, Cheques, Credit Card, making it easy and convenient for patients.
   <br><br><br>


    </div>
    </div>
</div>
{% endblock %}